*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: aliceblue;
}
/*Header*/
    #logo-container{
        height: 60px;
        line-height: 60px;
        background-color: white;
    }
    #logo{
        height: 100%;
        vertical-align: middle;
    }
    #titolo{
        font-size: 3em;
        vertical-align: middle;
        font-weight: bold;
    }
/*Main*/
    main{
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
/*Pulsanti*/
    .padding{
        padding-left: 5%;
        padding-right: 5%;
    }
    #buttons{
        width: auto;
        height: 50px;
        line-height: 50px;
        background-color: white;
    }
    #buttons > span{
        width: auto;
        height: auto;
        padding: 5px;
        border-radius: 5px;
        vertical-align: middle;
    }
    #add-task{
        border: 1px solid rgb(41, 111, 218);
        background-color: rgb(41, 111, 218);
        color: white;
        }
    #add-section{
        border: 2px solid lightgray;
        color: gray; 
        }
/*cecklists*/
    #cecklists{
        width: auto;
        height: auto;
        background-color: white;
    }
    .liste{
       list-style: none;
       line-height: 40px;
    }
    .titoli{
        font-size: x-large;
        font-weight: bold;
    }    
    .ceck{
        height: 25px;
        width: 25px;
        border: 2px solid green;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        line-height: normal;
        color: green;
    }
    .ceck-neg{
        height: 25px;
        width: 25px;
        border: 2px solid red;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        line-height: normal;
        color: red;
    }
/*Tag lista*/
    .box{
        width: auto;
        height: auto;
        padding: 7px;
        border-radius: 15px;
        color: white;
        font-size: small;
        vertical-align: middle;
    }
    .editorial{
        background-color: rgb(41, 111, 218);
    }
    .q1{
        background-color: blueviolet;
    }
    .recruting{
        background-color: aquamarine;
    }
    .mobile{
        background-color: goldenrod;
    }
    .website {
        background-color: palevioletred;
    }
    .sales{
        background-color: greenyellow;
    }